#parse("Share/head.html")
<div class="list">
    #parse("Share/contact.html")
</div>
<div class="sorce_content">
    <h3>资源列表：</h3><hr />
    <table>
        <thead>
            <tr>
                <th>资源名字</th>
                <th>资源说明</th>
                <th>发布日期</th>
            </tr>
        </thead>
        <tbody>
            #foreach($sorce in $Data.sorces)
            <tr>
                <td><a href="$sorce.sorceLink" target="_blank">$sorce.sorceName</a></td>
                <td>$sorce.sorceNote</td>
                <td>$sorce.createTime</td>
            </tr>
            #end
        </tbody>
    </table>
    
    <div class="fenye">
        <ul>
            #if($Data.Page.PageNum <= 1)
            <li style="border:gray 1px solid"><a href="../../Front/sorce.ashx" onclick="return false;" style="color:gray; cursor:text">&lt;&lt;</a></li>
            <li style="border:gray 1px solid"><a href="../../Front/sorce.ashx?PageNum=$Data.Page.LastPageNum" onclick="return false;" style="color:gray; cursor:text">&lt;</a></li>
            #else
            <li><a href="../../Front/sorce.ashx">&lt;&lt;</a></li>
            <li><a href="../../Front/sorce.ashx?PageNum=$Data.Page.LastPageNum">&lt;</a></li>
            #end

            #foreach($page in $Data.Page.PageData)
            #if($page.Title == $Data.Page.PageNum)
            <li class="checked">$page.Title</li>
            #else
            <li><a href=$page.Href>$page.Title</a></li>
            #end
            #end

            #if($Data.Page.PageNum >= $Data.Page.PageCount)
            <li style="border:gray 1px solid"><a href="../../Front/sorce.ashx?PageNum=$Data.Page.NextPageNum" onclick="return false;" style="color:gray; cursor:text">&gt;</a></li>
            <li style="border:gray 1px solid"><a href="../../Front/sorce.ashx?PageNum=$Data.Page.PageNum" onclick="return false;" style="color:gray; cursor:text">&gt;&gt;</a></li>
            #else
            <li><a href="../../Front/sorce.ashx?PageNum=$Data.Page.NextPageNum">&gt;</a></li>
            <li><a href="../../Front/sorce.ashx?PageNum=$Data.Page.PageCount">&gt;&gt;</a></li>
            #end
        </ul>
    </div>
</div>

#parse("Share/foot.html")
