#parse("Share/admin_head.html")
<div class="admin_content">
    #foreach($comment in $Data.Comments)
    <table class="admin_avtiveComment">
        <tr>
            <td>评论时间：</td>
            <td>$comment.createTime</td>
        </tr>
        <tr>
            <td>评论活动：</td>
            #foreach($a in $Data.actives)
            #if($a.Id == $comment.activeId)
            <td><a href="../../Front/activeView.ashx?Id=$a.Id" target="_blank">$a.Name</a></td>
            #end
            #end
        </tr>
        <tr id="$comment.Id">
            <td>评论内容：</td>
            <td>$comment.Msg</td>
        </tr>
        <tr>
            #if($comment.isRead == 0)
            <td id="$comment.Id"><a href="#" onclick="labelPost($comment.Id); return false;">标记已读</a></td>
            #else
            <td>已读</td>
            #end
        </tr>
    </table>
    <a href="../../Admin/activeComment.ashx?Action=Delete&Id=$comment.Id" onclick="return redelete()">删除</a>
    <hr />
    #end
    
    <div class="fenye">
        <ul>
            #if($Data.Page.PageNum <= 1)
            <li style="border:gray 1px solid"><a href="../../Admin/activeComment.ashx" onclick="return false;" style="color:gray; cursor:text">&lt;&lt;</a></li>
            <li style="border:gray 1px solid"><a href="../../Admin/activeComment.ashx?PageNum=$Data.Page.LastPageNum" onclick="return false;" style="color:gray; cursor:text">&lt;</a></li>
            #else
            <li><a href="../../Admin/activeComment.ashx">&lt;&lt;</a></li>
            <li><a href="../../Admin/activeComment.ashx?PageNum=$Data.Page.LastPageNum">&lt;</a></li>
            #end

            #foreach($page in $Data.Page.PageData)
            #if($page.Title == $Data.Page.PageNum)
            <li class="checked">$page.Title</li>
            #else
            <li><a href=$page.Href>$page.Title</a></li>
            #end
            #end

            #if($Data.Page.PageNum >= $Data.Page.PageCount)
            <li style="border:gray 1px solid"><a href="../../Admin/activeComment.ashx?PageNum=$Data.Page.NextPageNum" onclick="return false;" style="color:gray; cursor:text">&gt;</a></li>
            <li style="border:gray 1px solid"><a href="../../Admin/activeComment.ashx?PageNum=$Data.Page.PageNum" onclick="return false;" style="color:gray; cursor:text">&gt;&gt;</a></li>
            #else
            <li><a href="../../Admin/activeComment.ashx?PageNum=$Data.Page.NextPageNum">&gt;</a></li>
            <li><a href="../../Admin/activeComment.ashx?PageNum=$Data.Page.PageCount">&gt;&gt;</a></li>
            #end
        </ul>
    </div>
</div>
<script type="text/javascript">
    function labelPost(id) {
        var txtlabel = document.getElementById(id);
        ajax("../../Admin/activeComment.ashx?Action=Label&Id=" + id, function (txt) {
            var comments = JSON.parse(txt);
            var comment = comments[0];
            if (comment.isRead == 1) {
                alert("操作成功！");
                txtlabel.innerHTML = "已读";
            }
            else {
                alert("操作失败！请重试。");
            }
        });
    }
</script>
#parse("Share/admin_foot.html")