#parse("Share/admin_head.html")
<div class="admin_content" style="background-image: url('../../images/Errorbag.png');">
    <div style="text-align:center">
        <img src="../../images/Error.png" />
        <p style="font-family:KaiTi; font-size:36px; text-indent:0em; color:red;line-height:1.5em;">数据错误！<br />请返回查看是否有必填项未填。</p>
        <p style="text-align:left">温馨提示：错误数据不会被提交到数据库。</p>
        <input type="button" value="点击返回继续编辑" onclick="history.back()" />
    </div>
</div>
#parse("Share/admin_foot.html")