<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理页面</title>
    <meta charset="utf-8" />
    <script src="../../scripts/ajax.js"></script>
    <script src="../../scripts/json2.js"></script>
    <script src="../../scripts/ckeditor/ckeditor.js"></script>
    <script src="../../scripts/jquery-1.10.2.js"></script>
    <script src="../../scripts/jquery.cookie.js"></script>
    <script src="../../scripts/share.js"></script>
    <link href="../../css/share.css" rel="stylesheet" />
    <style type="text/css">

    </style>
</head>
<body>
    <div class="admin_head">
        <h1>$Data.Title</h1>
        <span style="float:right;"><a href="../../Front/index.ashx" target="_blank">预览网站</a></span>
        <hr style="clear:both" />
    </div>
    <div class="admin_list">
        <h3>网站信息管理</h3>
        <ul>
            <li><a href="../../Admin/index.ashx">后台首页</a></li>
            <li><a href="../../Admin/setting.ashx">网站配置</a></li>
            <li><a href="../../Admin/aboutList.ashx">关于我们</a></li>
            <li><a href="../../Admin/activeList.ashx">活动管理</a></li>
            <li><a href="../../Admin/activeComment.ashx">活动评论</a></li>
            <li><a href="../../Admin/guestbookList.ashx">留言反馈</a></li>
            <li><a href="../../Admin/grbList.ashx">最新消息</a></li>
            <li><a href="../../Admin/zhaoxinList.ashx">招新信息</a></li>
            <li><a href="../../Admin/sorceList.ashx">资源分享</a></li>
            <li><a href="../../Admin/linkList.ashx">友情链接</a></li>
            <li><a href="../../Admin/sysUserList.ashx">管理员</a></li>
        </ul>
    </div>
