<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$Data.Title</title>
    <meta charset="utf-8" />
    <link href="../../css/share.css" rel="stylesheet" />
    <link href="../../css/luara.css" rel="stylesheet" />
    <script src="../../scripts/jquery-1.10.2.js"></script>
    <script src="../../scripts/jquery.luara.0.0.1.min.js"></script>
    <script src="../../scripts/share.js"></script>
    <script src="../../scripts/ajax.js"></script>
    <script src="../../scripts/json2.js"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">

    </script>
</head>
<body onload="createCode()">
    <div class="head">
        <img src="$Data.settings.huihui_pic" height="140" width="140" />
        <div class="head_title" style="background-color:#CCFFFF; border:1px;">
            <span>$Data.settings.CN_Name</span><br />
            <span style="font-size:20px; font-weight:700; font-family:'Microsoft YaHei'; letter-spacing:0px; line-height:0em;">$Data.settings.EN_Name</span>
            <ul>
                <li><a href="../../Front/index.ashx">网站首页</a></li>
                <li><a href="../../Front/about.ashx">关于我们</a></li>
                <li><a href="../../Front/guangrongbang.ashx">最新消息</a></li>
                <li><a href="../../Front/active.ashx">活动中心</a></li>
                <li><a href="../../Front/guestbook.ashx">留言板</a></li>
                <li><a href="../../Front/zhaoxin.ashx">招新栏目</a></li>
                <li><a href="../../Front/sorce.ashx">资源分享</a></li>
            </ul>
        </div>
    </div>
